
<div class="cart-container">
    <span class="info">Total: {{ (total$ | async | currency) || 0 }}</span>
    <button mat-icon-button (click)="toggleCart()">
        <mat-icon class="icon">shopping_cart</mat-icon>
        <div id="cart-length" *ngIf="(length$ | async) as length">
            {{ length }}
        </div>
    </button>
    <!-- ** Opción pasandole los parámetros al componente -->
    <!-- <app-details *ngIf="cartIsOpen" [cart$]="cart$" (closeDetailsEvent)="toggleCart()"></app-details> -->
    <!-- ** Opción mandando el evento de close al padre (pero ahora el hijo también tiene el service) -->
    <!-- <app-details (closeDetailsEvent)="toggleCart()"></app-details> -->
     <app-details></app-details>
</div>