

<mat-card class="product">
    <mat-card-content>
        <img [src]="product.image">
    </mat-card-content>
    <mat-card-header>
        <mat-card-title>
            {{product.title}}
        </mat-card-title>
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="onClick()">
                Añadir: {{ product.price | currency }}
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </mat-card-actions>
    </mat-card-header>
</mat-card>