
<div class="details" *ngIf="isOpen">
    <div class="header">
        <span>Detalles del carrito</span>
        <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="body" *ngIf="(detailItems$ | async) as items">
        <!-- <pre>{{ detailItems | json }}</pre> -->
         <div *ngIf="!items.length">
            <span>No hay productos en el carrito...</span>
         </div>
         <mat-card *ngFor="let item of items">
            <div class="image-container">
                <img [src]="item.image">
            </div>
            <div class="content">
                <div class="header">
                    <div class="clamp">
                        {{ item.title }}
                    </div>
                </div>
                <div class="info">
                    <div>
                        Cantidad: {{ item.quantity }}
                    </div>
                    <div>
                        Precio: {{ item.totalPrice | currency}}
                    </div>
                </div>
            </div>
         </mat-card>
    </div>
    <div class="actions">
        <button mat-flat-button color="error" (click)="cleanCart()">
            Vaciar carrito <mat-icon>delete</mat-icon>
        </button>
        <button mat-flat-button color="primary" (click)="checkout()">
            Ir al pago: {{ totalPrice | currency}}
        </button>
    </div>
</div>
