

<mat-card class="product">
    <mat-card-content>
        <img [src]="product.image">
    </mat-card-content>
    <div class="product-header">
        <div class="product-title" [title]="product.title">
            {{product.title}}
        </div>
        <div class="rating">
            <span *ngIf="product.averageRating"><mat-icon>star</mat-icon> {{product.averageRating}}</span>
            <i>({{product.ratingCount || 0}})</i>
        </div>
        <!-- OTRA FORMA (si no hubieramos mapeado averageRating y ratingCount en la respuesta)
        <div class="rating" *ngIf="product.rating as rating">
            <mat-icon>star</mat-icon> {{rating.rate}} <i>({{rating.count}})</i>
        </div>
        -->
        <mat-card-actions>
            <button mat-flat-button color="primary" (click)="onClick()">
                Añadir: {{ product.price | currency }}
                <mat-icon>shopping_cart</mat-icon>
            </button>
        </mat-card-actions>
    </div>
</mat-card>