
<div class="details" *ngIf="isOpen">
    <div class="details-header">
        <span>Detalles del carrito</span>
        <button mat-icon-button (click)="onClose()">
            <mat-icon>close</mat-icon>
        </button>
    </div>
    <div class="details-body" *ngIf="(detailItems$ | async) as items">
        <!-- <pre>{{ detailItems | json }}</pre> -->
         <div *ngIf="!items.length">
            <span>No hay productos en el carrito...</span>
         </div>
         <mat-card class="details-list" *ngFor="let item of items">
            <button mat-icon-button color="warn" title="Eliminar grupo" (click)="remove(item.id, true)">
                <mat-icon>delete</mat-icon>
            </button>
            <div class="image-container">
                <img [src]="item.image">
            </div>
            <div class="content">
                <div class="content-header">
                    <div class="clamp">
                        {{ item.title }}
                    </div>
                </div>
                <div class="content-info">
                    <div>
                         <button mat-icon-button color="warn" title="Eliminar" (click)="remove(item.id)">
                            <mat-icon>remove</mat-icon>
                        </button>
                        <span>{{ item.quantity }}</span>
                         <button mat-icon-button color="primary" title="Agregar" (click)="add(item.id)">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    <div>
                        Precio: <strong>{{ item.totalPrice | currency}}</strong>
                    </div>
                </div>
            </div>
         </mat-card>
    </div>
    <div class="actions">
        <button mat-flat-button color="error" (click)="remove()">
            Vaciar carrito <mat-icon>delete</mat-icon>
        </button>
        <button mat-flat-button color="primary" (click)="checkout()">
            Ir al pago: {{ totalPrice | currency}}
        </button>
    </div>
</div>
