
<!-- Spinner -->
<div *ngIf="loading$ | async; else hasProducts" class="spinner">
   <section class="products">
        <h1>Cargando productos...</h1>
    </section>
</div>

<!-- Productos -->
 <ng-template #hasProducts>
     <section class="products" *ngIf="products.length; else noProducts">
         <app-product
             *ngFor="let product of products"
             [product]="product"
             (addToCartEvent)="addToCart($event)">
         </app-product>
     </section>
 </ng-template>

<!-- No hay productos -->
<ng-template #noProducts>
    <section class="products">
        <h1>No hay productos :(</h1>
    </section>
</ng-template>

<!-- Error -->
<div class="error" *ngIf="errorMsg && !products.length">
  Error: {{ errorMsg }}
</div>
